<section class="container" id="info">
    <h1 class="">
        Info
    </h1>
    <p>
        DanSpeech is an open-source Danish speech recognition (speech-to-text) python package
        based on the PyTorch deep learning framework.
    </p>
    <p>
        All DanSpeech models are end-to-end DeepSpeech 2 models ctc trained on danish resources with various
        data agumentations as an attempt multiply the rather small and public speech recognition
        data available in Danish. The models may further be decoded with n-gram language models through
        a beam search decoding scheme during inference.
    </p>
    <p>
        You can read more about DanSpeech
        in the documentation residing at
        <a href="https://danspeech.github.io/danspeech/html/danspeech.html"> DanSpeech documentation </a>.
    </p>
</section>