<section class="container" id="kontakt">
    <h1 class="">
        Contact
    </h1>
    <p>
        If you have any inquiries, please create issues at the
        <a href="https://github.com/danspeech/danspeech"> DanSpeech github repository </a>  or contact one of the
        maintainers/creators on mail.
    </p>
    <p>
        <i>Martin Carsten Nielsen</i> </br> <a href="mailto: mcnielsen4270@gmail.com">mcnielsen4270@gmail.com</a>
    </p>
    <p>
        <i>Rasmus Arpe Fogh Jensen</i>  </br> <a href="mailto: rasmus.arpe@gmail.com">rasmus.arpe@gmail.com</a>
    </p>
    <div class="row">
        <div class="column">
            <p>

            </p>
            <p>

            </p>
        </div>
        <div class="column"></div>
        <div class="column"></div>

    </div>
</section>