<p id="tekst-beskrivelse">
    <b>Choose configuration</b>
</p>
<p>
    Note: Choosing a DanSpeech model or a language model not used before will download
    the model into ~/.danspeech/models and ~/.danspeech/lms, respectively.
</p>


<div class="container">
    <form action="update_config/" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="column column-25">
                <p>DanSpeech model:</p>
            </div>
            <div class="column column-50">
                <select name="model_choice">
                    <option value="0">TestModel</option>
                    <option value="1">DanSpeechPrimary</option>
                    <option value="2">Baseline</option>
                    <option value="3">TransferLearned</option>
                    <option value="4">Folketinget</option>
                    <option value="5">EnglishLibrispeech</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="column column-25">
                <p>Language model:</p>
            </div>
            <div class="column column-50">
                <select name="language_model">
                    <option value="0">Greedy decoding</option>
                    <option value="1">DSL3gram</option>
                    <option value="2">DSL5gram</option>
                    <option value="3">DSLWiki3gram</option>
                    <option value="4">DSLWiki5gram</option>
                    <option value="5">DSLWikiLeipzig3gram</option>
                    <option value="6">DSLWikiLeipzig5gram</option>
                    <option value="7">Wiki3gram</option>
                    <option value="8">Wiki5gram</option>
                    <option value="9">Folketinget3gram</option>
                    <option value="10">DSL3gramWithNames</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="column column-25">
                <p>Alpha:</p>
            </div>
            <div class="column column-40">
                <input name="alpha" style="width: 100%;" type="range" min="0" max="3" step="0.05" value="1.2"
                       class="slider" id="myRangeAlpha" oninput="changeInputValueAlpha(this.value)">
            </div>
            <div class="column-10">
                <input type="number" id="numberAlpha" min="0" max="3" step="0.05" value="1.2"
                       onkeyup="changeRangeValueAlpha(this.value)"/>
            </div>
        </div>
        <div class="row">
            <div class="column column-25">
                <p>Beta:</p>
            </div>
            <div class="column column-40">
                <input name="beta" style="width: 100%;" type="range" min="0" max="3" step="0.05" value="0.2"
                       class="slider" id="myRangeBeta" oninput="changeInputValueBeta(this.value)">
            </div>
            <div class="column-10">
                <input type="number" id="numberBeta" min="0" max="3" step="0.05" value="0.2"
                       onkeyup="changeRangeValueBeta(this.value)"/>
            </div>
        </div>
        <div class="row">
            <div class="column column-25">
                <p>Beam width:</p>
            </div>
            <div class="column column-40">
                <input name="beam" style="width: 100%;" type="range" min="1" max="128" step="1" value="64"
                       class="slider" id="myRangeBeam" oninput="changeInputValueBeam(this.value)">
            </div>
            <div class="column-10">
                <input type="number" id="numberBeam" min="1" max="128" step="1" value="64"
                       onkeyup="changeRangeValueBeam(this.value)"/>
            </div>
        </div>
        <div class="row">
            <button type="submit" id="updateconfig"> Update configuration</button>
        </div>
    </form>
</div>