<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Kings of DTU">
    <title>DanSpeech | Demo </title>

    <!-- Front end utils -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'milligram.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <!-- Recording utils -->
    <link rel="stylesheet" href="{% static 'video-js.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'videojs.wavesurfer.css' %}"/>
    <link rel="stylesheet" href="{% static 'videojs.record.min.css' %}">

    <script src="{% static 'video.min.js' %}"></script>
    <script src="{% static 'recordRTC.min.js' %}"></script>
    <script src="{% static 'adapter-latest.js' %}"></script>
    <script src="{% static 'wavesurfer.min.js' %}"></script>
    <script src="{% static 'wavesurfer.microphone.min.js' %}"></script>
    <script src="{% static 'videojs.wavesurfer.min.js' %}"></script>
    <script src="{% static 'safari-workaround.js' %}"></script>

    <script src="{% static 'videojs.record.min.js' %}"></script>

    <style>
        input[type="checkbox"] {
            width: 16px; /*Desired width*/
            height: 16px; /*Desired height*/
        }


        /* change player background color */
        #myAudio {
            background-color: #FFEEFF;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            display: block
        }
    </style>

</head>
<body>
<main class="wrapper">
    {% include "nav_module.html" %}
    {% include "home.html" %}

    <section class="container" id="recording">
        <h1>
            Multiple files
        </h1>

        <p id="tekst-beskrivelse">
            <b>Transcribe multiple files from a directory </b>
        </p>
        <p>
            To test DanSpeech on multiple files, you may specify a full local path to the directory containing
            the audio files of speech e.g. "Users/mtn/soundfiles". Files need to be .wav or .flac fileformat.
        </p>
        <p>
            You may also choose the path to a .txt file where the transcription output will be stored for each file.
            If not chosen, the output will only be shown in the log container on the webpage.
        </p>


        <div class="row">
            <div class="column column-25">
                <p>Path to multiple files:</p>
            </div>
            <div class="column column-75">
                <input id="path" type="text" placeholder="e.g. Users/mtn/soundfiles"><br>
            </div>
        </div>
        <div class="row">
            <div class="column column-25">
                <p>(optional) Store result in: </p>
            </div>
            <div class="column column-75">
                <input id="storeresultsin" type="text" placeholder="e.g. Users/mtn/results/test.txt"><br>
            </div>
        </div>

        <input id="submitMultipleFiles" class="button" type="submit" value="Transcribe multiple files">

        <h4>Log:</h4>
        <div style="overflow-y: scroll; height:400px;">

            <p id="log">

            </p>

        </div>

        <p id="tekst-beskrivelse">
            <b>Choose configuration</b>
        </p>
        <p>
            Note: Choosing a DanSpeech model or a language model not used before will download
            the model into ~/.danspeech/models and ~/.danspeech/lms, respectively.
        </p>


        <div class="container">
            <form action="update_config/" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="column column-25">
                        <p>DanSpeech model:</p>
                    </div>
                    <div class="column column-50">
                        <select name="model_choice">
                            <option value="0">DanSpeech</option>
                            <option value="1">Baseline (no augmentations)</option>
                            <option value="2">Baseline (augmentations)</option>
                            <option value="3">1 convolutional layer</option>
                            <option value="4">3 convolutional layers (32 filters)</option>
                            <option value="5">3 convolutional layers (96 filters)</option>
                            <option value="6">3 RNNs</option>
                            <option value="7">7 RNNs</option>
                            <option value="8">9 RNNs</option>
                            <option value="9">400 hidden units</option>
                            <option value="10">1200 hidden units</option>
                            <option value="11">1600 hidden units</option>
                            <option value="12">Transfer learning - 0 frozen layers</option>
                            <option value="13">Transfer learning - 3 frozen layers</option>
                            <option value="14">Pooled data model</option>
                            <option value="15">English speech recognition</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="column column-25">
                        <p>Language model:</p>
                    </div>
                    <div class="column column-50">
                        <select name="language_model">
                            <option value="0">DSL 3-gram</option>
                            <option value="1">DSL 5-gram</option>
                            <option value="16">Greedy decoding</option>
                            <option value="2">Wiki 3-gram</option>
                            <option value="3">Wiki 5-gram</option>
                            <option value="4">Leipzig 3-gram</option>
                            <option value="5">Leipzig 5-gram</option>
                            <option value="6">DSL + Wiki 3-gram</option>
                            <option value="7">DSL + Wiki 5-gram</option>
                            <option value="8">DSL + Leipzig 3-gram</option>
                            <option value="9">DSL + Leipzig 5-gram</option>
                            <option value="10">Wiki + Leipzig 3-gram</option>
                            <option value="11">Wiki + Leipzig 5-gram</option>
                            <option value="12">Combined corpora 3-gram</option>
                            <option value="13">Combined corpora 5-gram</option>
                            <option value="14">LibriSpeech 3-gram</option>
                            <option value="15">LibriSpeech 4-gram</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="column column-25">
                        <p>Alpha:</p>
                    </div>
                    <div class="column column-40">
                        <input name="alpha" style="width: 100%;" type="range" min="0" max="3" step="0.05" value="1"
                               class="slider" id="myRangeAlpha" oninput="changeInputValueAlpha(this.value)">
                    </div>
                    <div class="column-10">
                        <input type="number" id="numberAlpha" min="0" max="3" step="0.05" value="1.0"
                               onkeyup="changeRangeValueAlpha(this.value)"/>
                    </div>
                </div>
                <div class="row">
                    <div class="column column-25">
                        <p>Beta:</p>
                    </div>
                    <div class="column column-40">
                        <input name="beta" style="width: 100%;" type="range" min="0" max="3" step="0.05" value="1"
                               class="slider" id="myRangeBeta" oninput="changeInputValueBeta(this.value)">
                    </div>
                    <div class="column-10">
                        <input type="number" id="numberBeta" min="0" max="3" step="0.05" value="1.0"
                               onkeyup="changeRangeValueBeta(this.value)"/>
                    </div>
                </div>
                <div class="row">
                    <div class="column column-25">
                        <p>Beam width:</p>
                    </div>
                    <div class="column column-40">
                        <input name="beam" style="width: 100%;" type="range" min="1" max="128" step="1" value="16"
                               class="slider" id="myRangeBeam" oninput="changeInputValueBeam(this.value)">
                    </div>
                    <div class="column-10">
                        <input type="number" id="numberBeam" min="1" max="128" step="1" value="1"
                               onkeyup="changeRangeValueBeam(this.value)"/>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" id="updateconfig"> Update configuration</button>
                </div>
            </form>
        </div>
    </section>
    {% include "info.html" %}
    {% include "kontakt.html" %}

</main>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<script>
    {% include 'demo.js' %}
</script>
</body>
</html>