<nav class="navigation" style="z-index: 999">
    <section class="container">
        <a class="navigation-title float-left" href="#home">
            <h1 class="title">DanSpeech</h1>
        </a>

        <ul class="navigation-list float-right">
            <li class="navigation-item">
                <a class="navigation-link" href="/" data-popover>Record</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link" href="{% url 'multi_files' %}" data-popover>Multiple files</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link" href="{% url 'stream' %}" data-popover>Stream</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link" href="{% url 'real_time_stream' %}" data-popover>Real-time stream</a>
            </li>
            <li class="navigation-item">
                <a class="navigation-link" href="{% url 'stream' %}" data-popover>Folketinget example</a>
            </li>
        </ul>
    </section>
</nav>