<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Kings of DTU">
    <title>DanSpeech | Demo </title>

    <!-- Front end utils -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="{% static 'normalize.css' %}">
    <link rel="stylesheet" href="{% static 'milligram.min.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">

    <!-- Recording utils -->
    <link rel="stylesheet" href="{% static 'video-js.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'videojs.wavesurfer.css' %}"/>
    <link rel="stylesheet" href="{% static 'videojs.record.min.css' %}">

    <script src="{% static 'video.min.js' %}"></script>
    <script src="{% static 'recordRTC.min.js' %}"></script>
    <script src="{% static 'adapter-latest.js' %}"></script>
    <script src="{% static 'wavesurfer.min.js' %}"></script>
    <script src="{% static 'wavesurfer.microphone.min.js' %}"></script>
    <script src="{% static 'videojs.wavesurfer.min.js' %}"></script>
    <script src="{% static 'safari-workaround.js' %}"></script>

    <script src="{% static 'videojs.record.min.js' %}"></script>

    <style>
        input[type="checkbox"] {
            width: 16px; /*Desired width*/
            height: 16px; /*Desired height*/
        }

        /* change player background color */
        #myAudio {
            background-color: #FFEEFF;
        }

        .center {
            margin-left: auto;
            margin-right: auto;
            display: block
        }
    </style>

</head>
<body>
<main class="wrapper">
    {% include "nav_module.html" %}
    {% include "home.html" %}
    <section class="container" id="recording">
        <h1>
            Stream of audio
        </h1>
        <p>
            Transcribe audio directly from your microphone. DanSpeech will spawn a background thread listening
            to your microphone and will continuosly transcribe the audio.
        </p>

        <div id="microphones">
            <p> <b>Pick a microphone to use</b></p> </br>
        </div>
        <div id="toggle-stream"></div>

        <h4>Streaming output:</h4>
        <div style="overflow-y: scroll; height:200px; display: flex; flex-direction: column-reverse">

            <div id="log">

            </div>

        </div>
        <h4>Final output:</h4>
        <div style="overflow-y: scroll; height:400px;">

            <div id="output">

            </div>

        </div>

    </section>
    {% include "info.html" %}
    {% include "kontakt.html" %}

</main>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<script>
    {% include 'demo.js' %}
</script>

<script>
    if ({{ mic_list|safe }} != null) {
        add_microphone_buttons({{ mic_list|safe }});
    }
    function hasUpperLetter(t) {
        return t.toLowerCase() !== t;
    }
    function start_transcribing(){
        if ($("#stream-toogle").val() === "Stop streaming") {
            var url = "{% url 'stop_real_time_streaming' %}";
            var data = new FormData();
            data.append('csrfmiddlewaretoken', "{{ csrf_token }}");
            $.ajax({
                url: url,
                method: 'post',
                data: data,
                success: function (data) {
                   $("#stream-toogle").val("Start streaming")
                },
                error: function () {
                    alert("Something went wrong.");
                },
                cache: false,
                contentType: false,
                processData: false
            });
        } else {
            var url = "{% url 'start_real_time_streaming' %}";
            var iterating_test = "";
            var str_iterator = 0;
            $("#log").empty();
            $("#output").empty();
            let xmlhttp = new XMLHttpRequest();
            function updateProgress (oEvent) {
                let p = document.createElement('p');
                p.setAttribute("style", "margin: 0; padding: 0;");
                console.log(oEvent.target.responseText)
                var temp_text = oEvent.target.responseText.substr(str_iterator);
                console.log(temp_text);
                str_iterator += temp_text.length;
                if (hasUpperLetter(temp_text)){
                    let text = document.createTextNode(temp_text);
                    p.appendChild(text);
                    document.getElementById('output').appendChild(p);
                    $("#log").empty();
                    iterating_test = "";
                } else {
                    iterating_test += temp_text;
                    let text = document.createTextNode(iterating_test);
                    p.appendChild(text);
                    document.getElementById('log').appendChild(p);
                }
            }
            xmlhttp.addEventListener('progress', updateProgress, false);
            xmlhttp.open("get", url, true);
            xmlhttp.send();
            $("#stream-toogle").val("Stop streaming");
        }
    }
    function button_clicked(value) {
        var url = "{% url 'update_microphone' %}";
        var data = new FormData();
        data.append('mic_id', value);
        data.append('csrfmiddlewaretoken', "{{ csrf_token }}");
        $.ajax({
            url: url,
            method: 'post',
            data: data,
            success: function (data) {
                $("#microphones").hide();
                var r = $('<input/>', { type: "button", id: "stream-toogle", value: "Start streaming", onclick: "start_transcribing()"});
                $("#toggle-stream").append(r);
            },
            error: function () {
                alert("Something went wrong.");
            },
            cache: false,
            contentType: false,
            processData: false
        });
    }
    function add_microphone_buttons(mic_list){
        for (i = 0; i < mic_list.length; i++) {
            console.log(mic_list[i]);
            var r = $('<input/>', { type: "button", value: mic_list[i][1], onclick: "button_clicked(" + mic_list[i][0] + ")"});
            $("#microphones").append(r);
        }
    }

</script>

</body>
</html>